
@{
    ViewBag.Title = "AddExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h3>Add New Experience</h3>
<form method="post">
    <input type="text" name="Title" class="form-control" placeholder="Company" />
    <br />
    <input type="text" name="Sub_Title" class="form-control" placeholder="Job Title" />
    <br />
    <input type="text" name="Date" class="form-control" placeholder="Date" />
    <br />
    <textarea placeholder="Details" name="Details" class="form-control" oninput="autoExpand(this)"></textarea>
    <br />
    <button class="btn btn-info">Submit</button>
</form>


<script>function autoExpand(element) { //textarea'yı içeriğe göre genişleten fonksiyon
    element.style.height = "auto"; 
    element.style.height = element.scrollHeight + "px"; 
}</script>
