@using MvcCv.Models.Entity
@model List<TblSertificates>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <a href="/Certificate/AddCertificate" class="btn btn-primary" style="margin-top:1em">Add Certificate</a>
                <div class="col-md-12" style="margin-top:1em">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-pane" id="timeline">
                                <div class="timeline timeline-inverse">
                                    @{
                                        int index = 1;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        var bgColor = (index % 2 == 1) ? "bg-gradient-gray" : "bg-gradient-gray-dark";

                                        <div class="time-label">
                                            <span class="@bgColor">
                                                @item.Date
                                            </span>
                                        </div>
                                        <div>
                                            @*<i class="fas fa-envelope bg-primary"></i>*@
                                            <div class="timeline-item">
                                                <div class="timeline-body">@item.Detail</div>
                                                <div class="timeline-footer">
                                                    <a href="/Certificate/GetCertificate/@item.ID" class="btn btn-primary btn-sm">Edit</a>
                                                    <a href="#" class="btn btn-danger btn-sm">Delete</a>
                                                </div>
                                            </div>
                                        </div>

                                        index++;
                                    }
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

